div.wrap #donor-list {
	border-right: none;
	border-collapse: separate;
}
div.wrap #donor-list thead td,
div.wrap #donor-list thead th {
	padding-bottom: 6px;
}
#donor-list tbody tr * { cursor: pointer; }
#donor-list tbody tr td,
#donor-list tbody tr th {
	padding-top:    4px;
	padding-bottom: 4px;
	border-top:    1px solid #fff;
	border-bottom: 1px solid #fff;
}
#donor-list tbody tr.alt td,
#donor-list tbody tr.alt th {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
#donor-list tr td { border-right: 1px solid #aaa; }
#donor-list tbody th a {
	text-decoration: none;
	margin: 0;
	line-height: 1;
	padding: 0 0 0 4px;
	border: none;
	vertical-align: -1px;
}
#donor-list td a.edit {
/*
	padding: 10px 14px 12px 14px;
	background-color: #e4f2fd;
	text-decoration: none;
	overflow: hidden;
	position: absolute;
	margin-top: -12px;
*/
	/* left decided via JS */
	display: none;
}
div.wrap #donor-list tbody tr.troll td, div.wrap #donor-list tbody tr:hover td,
div.wrap #donor-list tbody tr.troll th, div.wrap #donor-list tbody tr:hover th {
	background-color:   #e4f2fd;
/*	border-right-color: #e4f2fd;*/
	border-top-color:    #80b5d0;
	border-bottom-color: #80b5d0;
}
/*
div.wrap #donor-list tr.troll td a.edit,div.wrap #donor-list tr:hover td a.edit {
	display: block;
	border: 1px solid #80b5d0;
	border-left:none;
	-moz-border-radius:    18px;
	-khtml-border-radius:  18px;
	-webkit-border-radius: 18px;
	border-radius:         18px;
}
*/

/* edit donor form */
#donor-edit {
	position: fixed;
	top: 23%;
	/* left decided via JS */
	width: 18.2em;
	padding: 1.4em 0 0.6em;
/*	margin-left: 2.5em;*/
}
#donor-edit h3 { margin-bottom: 0.5em; }
#donor-edit h3 label {
	font-size: small;
	font-weight: normal;
	float: right;
	margin-top: 1px;
	padding-right: 1em;
}
#donor-edit fieldset {
	padding: 0.25em 0.25em 0.75em 0.75em;
	color: #246;
	background-color: #e4f2fd;
	border: 1px solid #80b5d0;
}
#donor-edit fieldset,
#donor-edit fieldset p.submit {
	-moz-border-radius:    4px;
	-khtml-border-radius:  4px;
	-webkit-border-radius: 4px;
	border-radius:         4px;
}
#donor-edit fieldset p.submit {
	clear: both;
	margin: 1.25em 1em 0.5em 0.5em;
	padding: 1.5em 0 0.75em;
	text-align: center;
	border-top: none;
}
#donor-edit fieldset br { clear: both; }

#donor-edit label {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#donor-edit fieldset label {
	float: left;
	padding-left: 3px;
	margin-top: 0.5em;
}
#donor-edit label.state {
	text-align: center;
	padding-left: 0.9em;
}
#donor-edit fieldset label * { display: block; }
#donor-edit fieldset label input {
	margin: 1px;
	padding: 3px;
}

#donor-first-name,
#donor-last-name,
#donor-email { width: 15em; }
#donor-city  { width: 10em; }
#donor-submit { margin-right: 0.7em; }
#donor-cancel { margin-left:  0.7em; }

/* IE ghetto */
* html #donor-edit {
	position: absolute;
	display: none; /* removed by JS */
	top: 170px;
/*	margin-left: 1em;*/
}
* html #donor-edit h3 label { margin-top: -20px; }
* html #donor-edit fieldset {
	padding-bottom: 1.1em;
	margin-top: 1px;
}
* html #donor-edit fieldset label select {
	font-size: 1.2em;
	margin-top: 2px;
	margin-left: 0;
}
* html #donor-edit fieldset p.submit {
	padding-top: 0.75em;
	margin-top:  2.5em;
	vertical-align: middle;
	border-top: none;
}
* html #donor-edit fieldset p input {
	font-size: 1.25em;
	margin-top: 0.5em;
}
* html #donor-submit { margin-right: 0.6em; }
* html #donor-cancel { margin-left:  0.6em; }
* html #donor-list tbody th a { height: 13px; }
* html #donor-list tbody th a img { margin-left: 4px; }
