#donor-list,
#donor-list th,
#donor-list td {
	margin:  0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	border-collapse: collapse;
}
#donor-list {
	margin-top: 1em;
	border: 1px solid #aaa;
}
#donor-list caption {
	font-size: x-small;
	padding: 0 0 0.5em 6em;
	text-align: left;
}
#donor-list th,
#donor-list td {
	padding: 5px 7px;
	vertical-align: top;
}
#donor-list thead th {
	font-weight: bold;
	border-bottom: 2px solid;
	font-size: 100%;
}
/* zebra-striped table rows */
#donor-list tr.alt th,
#donor-list tr.alt td {
	background-color: #ccc;
}
